PORT=3000

POSTGRES_USER=toktickit
POSTGRES_PASSWORD=toktickit
POSTGRES_DB=toktickit
POSTGRES_PORT=5432

DATABASE_URL=postgresql://toktickit:toktickit@localhost:5432/toktickit?schema=public
TEST_DATABASE_URL=postgresql://toktickit:toktickit@localhost:5432/toktickit_test?schema=public
